*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}
.diplomade{
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;

}
.con{
    height: auto;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding-inline: 3%;
    padding-top: 1%;
    row-gap: 50px;

}
.con span{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    
}
span img{
    width: 50px;
}
span h4{
    font-size: 50px;
    font-weight: 500;
}
span hr{
    width: 100%;
    color: rgb(142,194,220);
}

.con .lr{
    height: auto;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    padding-right: 3%;
    flex-wrap: wrap;

}
.lr .left{
    height: auto;
    width: 45%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    row-gap: 30px;
}
 .left h1{
    font-size: 70px;
    width: 90%;

 }

 .left p{
    font-size: 22px;
    width: 90%;
 }

 .left button{
    height: 50px;
    width: auto;
    padding-inline: 30px;
    font-size: 19px;
    background-color: black;
    color: white;
    border-radius: 10px;

 }

.lr .right{
    height: auto;
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;

}

.right h2{
    font-size: 28px;
}
.right p{
    font-size: 19px;
    width: 80%;
}

.one{
    height: auto;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding-block: 20px;
    border: 0.3px solid grey ;
    padding-inline: 1%;
}
.one p{
    width: 100%;
}

.right .spn{
    height: auto;
    width: 100%;
    display: flex;
    align-items: start;
    padding-block: 20px;
}
.two{
    height: auto;
    width: 50%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    row-gap: 15px;
    border: 0.3px solid grey ;
    padding :1%;
    
}
.the{
    height: 130px;
    width: 50%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    row-gap: 15px;
    border: 0.3px solid grey ;
    padding: 1%;
}

/* con1 */
.con1{
    height: auto;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    
    flex-wrap: wrap;
}
.con1 p{
    font-size: 15px;
}
.box{
    height: auto;
    width: 32%;
    display: flex;
    align-items: start;
    justify-content: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 1%;
    row-gap: 40px;
}
.box span{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    row-gap: 15px;
}

.color{
    height: auto;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.box h6{
    font-size: 22px;
}
.box p{
    font-size: 16px;
    width: 80%;
}

.box:first-child{
    background-color: rgb(36,28,45);
    color: white;
}
.box:nth-child(2){
    background-color: rgb(122,184,214);
    color: white;
}
.box:nth-child(3){
    background-color: rgb(135,151,210);
    color: white;
}

@media(max-width:768px){
    .con img{
        width: 40px;
    }
    .con h4{
        font-size: 40px;
    }
    .lr .left{ 
        width: 100%;
    }
    .left h1{
        font-size: 50px;
    }
    .lr .right{
        width: 100%;
    }
    .box:first-child{
        width: 100%;
    }
    .box:nth-child(2){
        width: 100%;
    }
    .box:nth-child(3){
        width: 100%;
    }
}


